{% extends 'layout/admin/base.html' %}
<!-- load -->
{% load static %}

<!-- title -->
{% block title %}patient-dashboard{% endblock %}
<!-- content -->
{% block content %}
<div class="content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <h5>Welcome {{user.full_name}}!</h5>
      </div>
      <!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Welcome {{user.full_name}}</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="root">
</div>
{% endblock %} {% block script %}
<script src='https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js'></script>
<script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js" charset="utf-8"></script>

{% endblock %}
