{% extends './layout/base.html' %} {% load static %}
<head>
  <link rel="stylesheet" href="{% static 'user/css/style.css' %}" />

  <title>Doctor register</title>
</head>
{% block content %}

<body>
  <div
    class="d-flex justify-content-center align-items-center"
    style="margin: 12em !important"
  >
    <div class="card border border-primary">
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item text-center">
          <a
            class="nav-link active btl"
            id="pills-profile-tab"
            data-toggle="pill"
            href="#pills-profile"
            role="tab"
            aria-controls="pills-profile"
            aria-selected="false"
            >Register Dcotor</a
          >
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <form
          method="POST"
          action="{% url 'doctor-register' %}"
          enctype="multipart/form-data"
        >
          {% csrf_token %}
          <div
            class="tab-pane fade show active"
            id="pills-home"
            role="tabpanel"
            ia-labelledby="pills-home-tab"
          >
            <div class="form px-4 pt-2" style="height: 800px; width: 80%">
              <label class="">Email<span class="text-danger">*</span></label>
              {{form.email}} {% if form.email.errors %}
              <p>{{form.email.errors}}</p>
              {% endif %}

              <label class="">Password<span class="text-danger">*</span></label>
              {{form.password}} {% if form.password.errors %}
              <p>{{form.password.errors}}</p>
              {% endif %}
              <br />
              <label class=""
                >Full Name<span class="text-danger">*</span></label
              >
              {{form.full_name}} {% if form.full_name.errors %}
              <p>{{form.full_name.errors}}</p>
              {% endif %}

              <label class="">Phone<span class="text-danger">*</span></label>
              {{form.phone}} {% if form.phone.errors %}
              <p class="text-danger" style="color: red">
                {{form.phone.errors}}
              </p>
              {% endif %}

              <label class="">DOB<span class="text-danger">*</span></label>
              {{form.dob}} {% if form.dob.errors %}
              <p>{{form.dob.errors}}</p>
              {% endif %}

              <label class="patient"
                >Blood Group<span class="text-danger">*</span></label
              >
              {{form.blood_group}} {% if form.blood_group.errors %}
              <p>{{form.blood_group.errors}}</p>
              {% endif %}

              <label class="patient"
                >Shift<span class="text-danger">*</span></label
              >
              {{form.shift}} {% if form.shift.errors %}
              <p>{{form.shift.errors}}</p>
              {% endif %}

              <label class="patient">Location<span class="text-danger">*</span></label>
              {{form.location}} {% if form.location.errors %}
              <p>{{form.location.errors}}</p>
              {% endif %}

              <label class="patient">Hospital Name<span class="text-danger">*</span></label>
              {{form.hospital_name}} {% if form.hospital_name.errors %}
              <p>{{form.hospital_name.errors}}</p>
              {% endif %}


              <label class="">Image<span class="text-danger">*</span></label
                ></label>
              {{form.image}} {% if form.image.errors %}
              <p>{{form.image.errors}}</p>
              {% endif %}
              <button class="btn btn-dark btn-block" type="submit">
                Sign Up
              </button>
              <br />
              <span
                ><a href="{% url 'login' %}"
                  >Already have account? Click Here to login!</a
                ></span
              >
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
{% endblock %}
